.removeButton {
  @apply flex items-center justify-center hover:border border-slate-600 rounded-full;
  color: red;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.removeButton:active {
  @apply drop-shadow-md opacity-75;
}
