.App {
  height: 100vh;
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  margin: 0 8px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #61dafb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #fff;
  color: #61dafb;
}

.btn:active {
  background-color: #fff;
  color: #61dafb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* .sub_text{
  display:none;
} */

.display_text{
  visibility:hidden;
  /* display: none; */
  border:1px solid lime;
  /* position: absolute;
  top: 100%;  */
}